<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">
        {{ "COMMONS.CLOSE" | translate }}
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">{{ isEditMode ? ('HOME.UPDATE_CATEGORIE' | translate) : ('HOME.NEW_CATEGORIE' |
      translate) }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="saveAndClose()">
        {{ "COMMONS.SAVE" | translate }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-input type="text" [placeholder]="'MESSAGES.EXAMPLE_CAT' | translate" [(ngModel)]="categoryName" required
      [errorText]=" 'MESSAGES.ENTER_NAME_CATEGORIE' | translate "></ion-input>
  </ion-item>
</ion-content>
