<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">Cerrar</ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Seleccionar Categoría</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()">Guardar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-radio-group [(ngModel)]="selectedCategoryId">
    <ion-list>
      <ion-list-header>
        <ion-label>Asignar a:</ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label>Sin Categoría</ion-label>
        <ion-radio slot="start" [value]="0"></ion-radio>
      </ion-item>

      <ion-item *ngFor="let cat of categories">
        <ion-label>{{ cat.name }}</ion-label>
        <ion-radio slot="start" [value]="cat.id"></ion-radio>
      </ion-item>
    </ion-list>
  </ion-radio-group>
</ion-content>
