<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">Cerrar</ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Nueva Tarea</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="saveAndClose()" [disabled]="!taskTitle || taskTitle.trim() === ''">Agregar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-input type="text" placeholder="Ej. Comprar leche" [(ngModel)]="taskTitle"></ion-input>
  </ion-item>

  <ion-radio-group [(ngModel)]="selectedCategoryId">
    <ion-list-header>
      <ion-label>Seleccionar Categoría</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Sin Categoría</ion-label>
      <ion-radio slot="start" value="0"></ion-radio>
    </ion-item>

    <ion-item *ngFor="let category of categories">
      <ion-label>{{ category.name }}</ion-label>
      <ion-radio slot="start" [value]="category.id"></ion-radio>
    </ion-item>
  </ion-radio-group>

</ion-content>
