<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">{{ "COMMONS.CLOSE" | translate }}</ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">{{ "HOME.NEW_TASK" | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="saveAndClose()" [disabled]="!taskTitle || taskTitle.trim() === ''">{{ "COMMONS.ADD" | translate }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-input type="text" [placeholder]=" 'MESSAGES.EXAMPLE_TASK' | translate " [(ngModel)]="taskTitle"></ion-input>
  </ion-item>
  <ion-list>
    <ion-list-header>
      <ion-label>{{ "MESSAGES.SELECT_CAT" | translate }}</ion-label>
    </ion-list-header>
    <ion-radio-group [(ngModel)]="selectedCategoryId">
      <ion-item>
        <ion-label>{{ "MESSAGES.NOT_CATEGORIE" | translate }}</ion-label>
        <ion-radio slot="start" value="0"></ion-radio>
      </ion-item>

      <ion-item *ngFor="let category of categories">
        <ion-label>{{ category.name }}</ion-label>
        <ion-radio slot="start" [value]="category.id"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

</ion-content>
